@media print, screen and (min-width: 47.9375em) {
    #main-navbar {
        min-height: 110px;
        display: flex;
    }
    #website-identity {
        padding-top: 1.1rem;
        display: inline-block;
        max-width: 100%;
        position: relative;
    }
    #website-name {
        font-size: 1.6rem;
    }

    .website-nav-container {
        align-self: flex-end;
        flex-grow: 1;
        padding-top: .5rem;
    }

    .website-nav {
        justify-content: flex-end;
    }
}
#main-navbar {
    padding: 0;
}

#primary-nav {
    list-style: none;
    display: flex;
    justify-self: flex-end;

    li {
        margin-left: 2rem;
        font-size: 1.25rem;
        font-weight: 600;
        border-bottom: 4px solid transparent;
        cursor: pointer;
    }
    
    li:hover {
        border-bottom: 4px solid #ffbc10 !important;
    }
}

:host {
    display: block;
    width: 100%;
}
#partners {
    display: flex;
    row-gap: 1rem;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin: 0;
    padding: 0;
}
#partner-logo {
    flex: 0 0 fit-content;;
}
#cornell-logo {
    height: 44px;
    opacity: 1;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    transition: opacity 400ms;
    transition-delay: 0ms;
    border-style: none;
}
#website-name {
    font-size: 2.25rem !important;
    letter-spacing: -0.01em;
    flex: 1 0 100%;
    padding: 0;
    color: var(--text-color);

    strong {
        font-weight: 400;
        text-size-adjust: 100%;
    }
}

@media print, screen and (min-width: 64em) {
    .website-name {
        font-size: 2rem;
    }
}