@media print, screen and (min-width: 47.9375em) {
    #main-navbar {
        min-height: 110px;
    }
    #website-identity {
        padding-top: 1.1rem;
        display: inline-block;
        max-width: 100%;
        position: relative;
    }
    #website-name {
        font-size: 1.6rem;
    }
}
#main-navbar {
    padding: 0;
}

:host {
    display: block;
    width: 100%;
}
#partners {
    display: flex;
    row-gap: 1rem;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin: 0;
    padding: 0;
}
#partner-logo {
    flex: 0 0 fit-content;;
}
#cornell-logo {
    height: 44px;
    opacity: 1;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    transition: opacity 400ms;
    transition-delay: 0ms;
    border-style: none;
}
#website-name {
    font-size: 2.25rem !important;
    letter-spacing: -0.01em;
    flex: 1 0 100%;
    padding: 0;
    color: var(--text-color);

    strong {
        font-weight: 400;
        text-size-adjust: 100%;
    }
}

@media print, screen and (min-width: 64em) {
    .website-name {
        font-size: 2rem;
    }
}