:root > * {   

  /* Global footer colors */
  --footer-bg-color: #333333;
  --footer-fg-color: #ffffff;
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color: #b31b1b;
  --md-accent-fg-color: #006699;
  --md-header-bg-color: #F7F7F7;
  --md-header-font-color: #444444;
  --md-primary-fg-color--light: #FFFFFF;
  --md-primary-fg-color--dark:  #CCCCCC;
}

.md-header {
  border-top: 5px solid var(--md-primary-fg-color);
  background-color: var(--md-header-bg-color);
  color: var(--md-header-font-color);
}

/* Footer styling (same in light and dark) */
.md-footer {
  border-bottom: 5px solid var(--md-primary-fg-color);
  background-color: var(--footer-bg-color);
  color: var(--footer-fg-color);
}
.md-footer__inner,
.md-footer-meta {
  background-color: var(--footer-bg-color);
  color: var(--footer-fg-color);
}
.md-footer a {
  color: var(--footer-link-fg-color);
}
.md-footer a:hover,
.md-footer a:focus {
  color: var(--footer-link-fg-hover);
}