:root {
    --red-shade: #B31B1B;
    --text-color: #2E261F;
}

app-root {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

body {
    margin: 0;
    accent-color: #457999;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #fafbfc;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

@font-face {
    font-family: Gibson;
    src: url(../public/Gibson-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal
}